@import "./mixins.scss";
@import "./breakpoints.scss";

body {
  margin: 0;
}
h1,
h2 {
  text-align: center;
  margin: 1em 9em;
  text-shadow: 0 2px $red;
}
h1 {
}
.about {
  display: flex;
  // align-items: center;
  font-size: 1.25em;
  margin: 0 3%;
  @include breakpoint(xxs, xs, s, m) {
    flex-direction: column-reverse;
  }

  img {
    margin: 0;
    width: 5em;
  }
  .border {
    border: 2px solid black;
    margin: 0;
    margin-right: 3.25em;
  }
}
