@import "./mixins.scss";
@import "./breakpoints.scss";

h1,
h2 {
  text-align: center;
  margin: 1em 9em;
  text-shadow: 0 2px $red;
}
h1 {
}
.about {
  display: flex;
  // align-items: center;
  font-size: 1.1em;
  img {
    margin: 0;
  }
  .border {
    border: 2px solid black;
    margin: 0;
    margin-right: 3.25em;
  }
}
