@import "./mixins.scss";
@import "./breakpoints.scss";
@font-face {
  font-family: "Acumin-RPro";
  src: url("/fonts/Acumin-RPro.woff") format("woff");
}

body {
  // color: $darkBlue;
  // margin: 0;
  nav,
  footer {
    margin: -1%;
  }
}

.article {
  margin: 0 5%;
  font-size: 1.5em;
  font-family: "Acumin-RPro";
}

.float-l {
  float: left;
  // margin-bottom: 3em;
}
.float-r {
  float: right;
  margin-left: 5em;
}
.float-l,
.float-r {
  margin-bottom: 3em;
  @include breakpoint(xxs, xs, s) {
    float: none;
    display: block;
    margin: auto;
    width: 80%;
    margin-bottom: 1.8em;
  }
}

img {
  // display: block;
  width: 35%;
  vertical-align: middle;
  margin: auto 1em;
  @include breakpoint(xxs, xs, s) {
    // width: 80%;
  }
}

h1,
h2 {
  text-align: center;
}
h3 {
  clear: both;
  margin: 3em 1em 0.5em;
  @include breakpoint(xxs, xs, s) {
    text-align: center;
    font-size: 1.8em;
    // margin-bottom: 2em;
  }
}
.author,
.date {
  text-align: center;
  // margin-left: 50%;
}
.date {
  margin-bottom: 1em;
}

.hero-img {
  //   margin-left: 25%;
  display: block;
  margin: 0 auto;
  width: 30em;
  //   text-align: center;
  @include breakpoint(xxs, xs, s) {
    // width: 15em;
    width: 90%;
  }
}

p {
  // vertical-align: center;
  // display: inline;
  text-align: justify;
  margin: auto 1em;
  @include breakpoint(xxs, xs, s) {
    margin-top: 1.5em;
  }
}

.local-tip {
  clear: both;
  text-align: center;
  margin: 3em 5em;
  @include breakpoint(xxs, xs, s) {
    margin: 3em 1em;
  }
}

.shadow {
  border: 2px solid black;
  box-shadow: 0px 0px 5px black;
}

.hashtags {
  text-align: center;
  margin: 3em 5em 2em;
  @include breakpoint(xxs, xs, s) {
    margin: 3em 1em 2em;
  }
}

.center-img {
  display: block;
  margin: 2em auto;
}

.article-1 {
  .fashion-img {
    border: 2px solid black;
    box-shadow: 0px 0px 5px black;
  }
}

.article-3 {
  .hero-img {
    margin-bottom: 2em;
  }
}

.blog {
  font-size: 1.1em;
  margin-top: 2em;
  .author {
    margin-bottom: 0;
  }
  p {
    margin-bottom: 2em;
  }
  span {
    font-weight: 800; // not working with current font
  }
  .indent {
    margin: auto 3em;
    @include breakpoint(xxs, xs, s) {
      margin: auto 2em;
    }
  }
}
