@import "./mixins.scss";
@import "./breakpoints.scss";

body {
  // color: $darkBlue;
  margin: 0;
}
.float-r {
  float: right;
}
.float-l {
  float: left;
}
h3 {
  clear: both;
}
img {
  // display: block;
  width: 40%;
  vertical-align: middle;
  margin: auto 1em;
}

h1,
h2 {
  text-align: center;
}
h3 {
  margin: 1em;
}
.author,
.date {
  text-align: right;
}

.hero-img {
  //   margin-left: 25%;
  display: block;
  margin: 0 auto;
  width: 30em;
  //   text-align: center;
}
p {
  // vertical-align: center;
  // display: inline;
  text-align: justify;
  margin: auto 1em;
}

.local-tip {
  clear: both;
  text-align: center;
  margin: auto 5em;
}

.article-1 {
  .fashion-img {
    border: 2px solid black;
    box-shadow: 0px 0px 5px black;
  }
}
.shadow {
  border: 2px solid black;
  box-shadow: 0px 0px 5px black;
}
