$red: #861e00;
$darkBlue: #2206ad;
$navy: #001588;
$grey: #707070;
$gold: #febc2b;
$darkRed: #ac2700;
$lightBlue: #cfe6fc;
$green: #7fbd3e;
$brightGreen: lawngreen;

$white: #efeaea;
$brown: #340c00;

$beige: #906348;
