@import "./mixins.scss";
@import "./breakpoints.scss";
//todo fix mixin colors on this page

#quote-form {
  display: flex;
  justify-content: space-around;
  position: relative;
  font-size: 1.2em;
  height: 100vh;
  overflow: hidden;
  // flex-direction: column;

  img {
    width: 3em;
  }
  .left {
    width: 27%;
    border-right: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include breakpoint(xxs, xs, s) {
      display: none;
    }
    img {
      height: 50%;
      width: 70%;
      margin-top: 4em;
    }
    h5 {
      color: $red;
      font-size: 2em;
    }
    p {
      color: $darkBlue;
      font-size: 1.25em;
      text-align: center;
      font-weight: 800;
      word-break: keep-all;
    }
    .left-logo {
      height: 5em;
    }
    span {
      color: $darkBlue;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    width: 65%;
    // height: 100vh;

    h1 {
      margin: 2em auto;
      color: $red;
    }
    h4 {
      color: $red;
      margin: 2em 0 0;
    }
    .contact-info {
      border-bottom: 3px solid $darkBlue;
      padding-bottom: 2em;
      margin-bottom: 1em;
    }
    input[type^="text"] {
      background: lightblue;
      border: 2px solid darkblue;
      border-radius: 1em;
      box-shadow: 3px 2px darkblue;
      height: 1.75em;
    }
    label {
      display: flex;
      justify-content: space-between;
      color: $darkBlue;
      font-weight: 600;
      // width: 20%;
      input {
        width: 80%;
        margin: auto 0;
        margin-bottom: 1em;
        max-width: 80em;
      }
    }
    input[type="submit"] {
      width: 40%;
      margin: 3em auto 0;
      padding: 1em 0em;
      box-shadow: 3px 2px $darkBlue;
      color: $darkBlue;
      font-size: 1.25em;
      font-weight: 800;
      background: $lightBlue;
      cursor: pointer;
    }
  }

  .corner {
    position: absolute;
    height: 10em;
    width: 10em;
    z-index: -1;
  }
  .bl-corner {
    bottom: -1em;
    left: -1em;
    transform: rotate(90deg);
  }
  .br-corner {
    bottom: -1em;
    right: -1em;
    // transform: rotate(90deg);
  }
}
